[submodule "workspaces/this.audio"]
	path = workspaces/modules/objects/this.audio
	url = https://github.com/suiGn/this.audio
	branch = main
[submodule "workspaces/this.dictionaries"]
	path = workspaces/modules/objects/this.dictionaries
	url = https://github.com/suiGn/this.dictionaries
	branch = main
[submodule "workspaces/this.DOM"]
	path = workspaces/modules/objects/this.DOM
	url = https://github.com/suiGn/this.DOM
	branch = main
[submodule "workspaces/this.env"]
	path = workspaces/modules/objects/this.env
	url = https://github.com/suiGn/this.env
	branch = main
[submodule "workspaces/this.GUI"]
	path = workspaces/modules/objects/this.GUI
	url = https://github.com/suiGn/this.GUI
	branch = main
[submodule "workspaces/this.img"]
	path = workspaces/modules/objects/this.img
	url = https://github.com/suiGn/this.img
	branch = main
[submodule "workspaces/this.me"]
	path = workspaces/modules/objects/this.me
	url = https://github.com/suiGn/this.me
	branch = main
[submodule "workspaces/this.pixel"]
	path = workspaces/modules/objects/this.pixel
	url = https://github.com/suiGn/this.pixel
	branch = main
[submodule "workspaces/this.text"]
	path = workspaces/modules/objects/this.text
	url = https://github.com/suiGn/this.text
	branch = main
[submodule "workspaces/this.video"]
	path = workspaces/modules/objects/this.video
	url = https://github.com/suiGn/this.video
	branch = main
[submodule "workspaces/this.wallet"]
	path = workspaces/modules/objects/this.wallet
	url = https://github.com/suiGn/this.wallet
	branch = main
[submodule "workspaces/this.be"]
	path = workspaces/modules/controllers/this.be
	url = https://github.com/suiGn/this.be
	branch = main
[submodule "workspaces/be.this"]
	path = workspaces/modules/controllers/be.this
	url = https://github.com/suiGn/be.this
	branch = main
