[submodule "workspaces/be.this"]
	path = workspaces/be.this
	url = https://github.com/neurons-me/be.this
	branch = main
[submodule "workspaces/this.audio"]
	path = workspaces/this.audio
	url = https://github.com/neurons-me/this.audio
	branch = main
[submodule "workspaces/this.be"]
	path = workspaces/this.be
	url = https://github.com/neurons-me/this.be
	branch = main
[submodule "workspaces/this.dictionaries"]
	path = workspaces/this.dictionaries
	url = https://github.com/neurons-me/this.dictionaries
	branch = main
[submodule "workspaces/this.DOM"]
	path = workspaces/this.DOM
	url = https://github.com/neurons-me/this.DOM
	branch = main
[submodule "workspaces/this.env"]
	path = workspaces/this.env
	url = https://github.com/neurons-me/this.env
	branch = main
[submodule "workspaces/this.GUI"]
	path = workspaces/this.GUI
	url = https://github.com/neurons-me/this.GUI
	branch = main
[submodule "workspaces/this.img"]
	path = workspaces/this.img
	url = https://github.com/neurons-me/this.img
	branch = main
[submodule "workspaces/this.me"]
	path = workspaces/this.me
	url = https://github.com/neurons-me/this.me
	branch = main
[submodule "workspaces/this.pixel"]
	path = workspaces/this.pixel
	url = https://github.com/neurons-me/this.pixel
	branch = main
[submodule "workspaces/this.text"]
	path = workspaces/this.text
	url = https://github.com/neurons-me/this.text
	branch = main
[submodule "workspaces/this.url"]
	path = workspaces/this.text
	url = https://github.com/neurons-me/this.url
	branch = main
[submodule "workspaces/this.video"]
	path = workspaces/this.video
	url = https://github.com/neurons-me/this.video
	branch = main
[submodule "workspaces/this.wallet"]
	path = workspaces/this.wallet
	url = https://github.com/neurons-me/this.wallet
	branch = main
